<%= content_for :header_title do %>
  Your <em>Sessions</em>
<% end %>

<%= content_for :header_right_module do %>
  <%= render partial: "users/personal_information_preview", locals: { user: current_user } %>
<% end %>

<%= content_for :main_content do %>
  <h2 class="low-margin">Log New Session</h2>
  <div class="module">
    <%= form_with model: @new_session, url: user_tutoring_sessions_path do |form| %>
      <div class="field">
        <%= form.label :date %>
        <%= form.date_field :date %>
      </div>
      <div class="field">
        <%= label_tag "student_id", "Student" %>
        <%= select_tag "student_id", options_from_collection_for_select(@students, 'id', 'full_name') %>
      </div>
      <div>
        <%= label_tag "num_hours", "Duration" %>
        <%= select_tag "num_hours", options_for_select([1, 2, 3]) %>
        <%= select_tag "num_fifteen_minutes", options_for_select([[":00", 0], [":15", 1], [":30", 2], [":45", 3]]) %>
      </div>
      <div class="field">
        <%= form.label :details %>
        <%= form.text_area :details %>
      </div>
      <%= form.submit "Log Session" %>
    <% end %>
  </div>
  <h2 class="low-margin">Logged Sessions</h2>
  <table class="module">
    <tr>
      <th>Date</th>
      <th>Student</th>
      <th>Hours</th>
      <th>Details</th>
    </tr>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.date.strftime("%m/%d/%Y") %></td>
        <td><%= session.student.full_name %></td>
        <td><%= session.length_hours %></td>
        <td><%= session.details_preview %> <%= link_to "See Details", home_path, class: "small-yellow-link" %></td>
        <td>
            <%= link_to "Delete", user_tutoring_session_path(session), 
                  class: "small-red-link", 
                  data: { turbo_method: :delete,
                          turbo_confirm: "Are you sure?" }
            %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= content_for :additional_content do %>
  <%= render "shared/login_items" %>
<% end %>