<%= content_for :header_title do %>
  Your <em>Sessions</em>
<% end %>

<%= content_for :header_right_module do %>
  <%= render partial: "users/personal_information_preview", locals: { user: current_user } %>
<% end %>

<%= content_for :main_content do %>
  <h2 class="low-margin">Log New Session</h2>
  <div class="module">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. E
    xplicabo a consectetur ea nam cum, voluptatibus mollitia earum
    quas voluptas, quasi sunt voluptatem tempore perspiciatis accus
    antium! Dignissimos quod architecto obcaecati voluptas?
  </div>
  <h2 class="low-margin">Logged Sessions</h2>
  <table class="module">
    <tr>
      <th>Date</th>
      <th>Student</th>
      <th>Hours</th>
      <th>Details</th>
    </tr>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.date.strftime("%m/%d/%Y") %></td>
        <td><%= session.student.full_name %></td>
        <td><%= session.length_hours %></td>
        <td><%= session.details_preview %> <%= link_to "See Details", home_path, class: "small-yellow-link" %></td>
        <td>
            <%= link_to "Delete", user_tutoring_session_path(session), 
                  class: "small-red-link", 
                  data: { turbo_method: :delete,
                          turbo_confirm: "Are you sure?" }
            %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= content_for :additional_content do %>
  <%= render "shared/login_items" %>
<% end %>