<%= content_for :header_title do %>
  Welcome to the Brain Gains Idaho <em>Student Portal</em>
<% end %>

<%= content_for :header_right_module do %>
  <%= render partial: "personal_information_preview", locals: { user: @user } %>
<% end %>

<%= content_for :main_content do %>
  <div class="modular">
    <div class="module">
      <h2>Your Tutor</h2>
      <% if @tutor %>
        <div>
          Full Name
          <h3 class="low-margin"><%= @tutor.personal_information.first_name + " " + @tutor.personal_information.last_name %></h3>
          Phone Number
          <h3 class="low-margin"><%= @tutor.personal_information.phone_number %></h3>
          Subject
          <h3 class="low-margin"><%= @engagement.subject %></h3>
        </div>
      <% else %>
        <p>You have not been placed with a tutor yet.</p>
        <p>We will enter into contact with you as soon as we find your tutor.</p>
        <p>For any questions or help, don't hesitate to get in contact with us!</p>
      <% end %>
    </div>
    <div class="module">
      <h2>Sessions Details</h2>
      Module under construction.
    </div>
  </div>
<% end %>

<%= content_for :additional_content do %>
  <%= render "login_items" %>
<% end %>