<%= content_for :header_title do %>
  Welcome to the Brain Gains Idaho <em>Student Portal</em>
<% end %>

<%= content_for :header_right_module do %>
  <%= render partial: "personal_informations/preview" %>
<% end %>

<%= content_for :main_content do %>
  <div class="modular">
    <div class="module">
      <h2>Your Tutor</h2>
      <% if @tutor %>
        <div>
          Full Name
          <h3 class="low-margin"><%= @tutor.full_name %></h3>
          Phone Number
          <h3 class="low-margin"><%= @tutor.personal_information.phone_number %></h3>
          Subject
          <h3 class="low-margin"><%= @engagement.subject %></h3>
        </div>
      <% else %>
        <p>You have not been placed with a tutor yet.</p>
        <p>We will enter into contact with you as soon as we find your tutor.</p>
        <p>For any questions or help, don't hesitate to get in contact with us!</p>
      <% end %>
    </div>
    <div class="module">
      <h2>Sessions Details</h2>
      <p>
        Use this page to view sessions logged by your tutor and
        their notes. Check this page often for accuracy.
      </p>
      <%= button_to "See Sessions", user_tutoring_sessions_path, method: :get, type: :button %>
    </div>
    <div class="module">
      <h2>Manage Payments</h2>
      <p>
        Use this page to manage your subscription and purchase more
        hours of tutoring.
      </p>
      <%= button_to "Payment and Subscription", user_tutoring_sessions_path, method: :get, type: :button %>
    </div>
  </div>
<% end %>

<%= content_for :additional_content do %>
  <%= render "shared/login_items" %>
<% end %>