<%= content_for :header_title do %>
  Welcome to the Brain Gains Idaho <em>Tutor Portal</em>
<% end %>

<%= content_for :header_right_module do %>
  <%= render partial: "personal_information_preview", locals: { user: @user } %>
<% end %>

<%= content_for :main_content do %>
  <div class="modular">
    <div class="module">
      <h2>Log a Session</h2>
      Module under construction.
    </div>
    <% @engagements.each do |engagement| %>
      <div class="module">
        <h2><%= engagement.student.personal_information.first_name + " " + engagement.student.personal_information.last_name %></h2>
        Subject
        <h3 class="low-margin"><%= engagement.subject %></h3>
        Frequency
        <h3 class="low-margin"><%= engagement.fifteen_minutes_per_week %> hours / week</h3>
        Phone Number
        <h3 class="low-margin"><%= engagement.student.personal_information.phone_number %></h3>
        <%= button_to "See Engagement", user_engagement_path(engagement), method: :get, type: :button %>
      </div>
    <% end %>
  </div>
<% end %>

<%= content_for :additional_content do %>
  <%= render "shared/login_items" %>
<% end %>