<%= content_for :stylesheets do %>
  <%# .content .main {
    margin: 1.75rem 0 0 0;
    padding: 1rem;
    border: 4px solid var(--brown);
    border-radius: 8px;
  }

  @media only screen and (max-width: 1250px) {
    .content .main {
      margin: 1.75rem 1rem;
    }
  } %>
<% end %>

<%= content_for :header_title do %>
  <em>Forgot</em> Your Account <em>Password</em>?
<% end %>

<%= content_for :header_right_module do %>
  <%= render partial: "pages/contact_module" %>
<% end %>

<%= content_for :main_content do %>
  <div class="modular">
    <div class="module">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :additional_content do %>
    <%= render "devise/shared/links" %>
<% end %>