<div class="module" style="grid-column: 1 / 3;">
  <h2 style="text-align: center">Subjects</h2>
  <p style="text-align: center">Please select which subjects you are qualified and willing to tutor our students in.</p>
  <div style="display: flex; justify-content: center; gap: 8rem; margin-bottom: 4rem;">
    <div>
      <div>
        <h3>Elementary School</h3>
        <div>
          <%= check_box_tag "subjects[elementary-mathematics]" %>
          <%= label_tag "subjects[elementary-mathematics]", "Mathematics" %>
        </div>
        <div>
          <%= check_box_tag "subjects[elementary-english]" %>
          <%= label_tag "subjects[elementary-english]", "English" %>
        </div>
        <div>
          <%= check_box_tag "subjects[elementary-science]" %>
          <%= label_tag "subjects[elementary-science]", "Science" %>
        </div>
        <div>
          <%= check_box_tag "subjects[elementary-social-studies]" %>
          <%= label_tag "subjects[elementary-social-studies]", "Social Studies" %>
        </div>
        <div>
          <%= check_box_tag "subjects[elementary-spanish]" %>
          <%= label_tag "subjects[elementary-spanish]", "Spanish" %>
        </div>
      </div>
      <div>
        <h3>Middle School</h3>
        <div>
          <%= check_box_tag "subjects[pre-algebra]" %>
          <%= label_tag "subjects[pre-algebra]", "Pre-Algebra" %>
        </div>
        <div>
          <%= check_box_tag "subjects[algebra-1]" %>
          <%= label_tag "subjects[algebra-1]", "Algebra 1" %>
        </div>
        <div>
          <%= check_box_tag "subjects[middle-english]" %>
          <%= label_tag "subjects[middle-english]", "English" %>
        </div>
        <div>
          <%= check_box_tag "subjects[middle-science]" %>
          <%= label_tag "subjects[middle-science]", "Science" %>
        </div>
        <div>
          <%= check_box_tag "subjects[middle-social-studies]" %>
          <%= label_tag "subjects[middle-social-studies]", "Social Studies" %>
        </div>
        <div>
          <%= check_box_tag "subjects[middle-spanish]" %>
          <%= label_tag "subjects[middle-spanish]", "Spanish" %>
        </div>
      </div>
    </div>
    <div>
      <h3>High School</h3>
      <div>
        <%= check_box_tag "subjects[algebra-2]" %>
        <%= label_tag "subjects[algebra-2]", "Algebra 2" %>
      </div>
      <div>
        <%= check_box_tag "subjects[geometry]" %>
        <%= label_tag "subjects[geometry]", "Geometry" %>
      </div>
      <div>
        <%= check_box_tag "subjects[trigonometry]" %>
        <%= label_tag "subjects[trigonometry]", "Trigonometry" %>
      </div>
      <div>
        <%= check_box_tag "subjects[pre-calculus]" %>
        <%= label_tag "subjects[pre-calculus]", "Pre-Calculus" %>
      </div>
      <div>
        <%= check_box_tag "subjects[calculus]" %>
        <%= label_tag "subjects[calculus]", "Calculus" %>
      </div>
      <div>
        <%= check_box_tag "subjects[high-english]" %>
        <%= label_tag "subjects[high-english]", "English" %>
      </div>
      <div>
        <%= check_box_tag "subjects[biology]" %>
        <%= label_tag "subjects[biology]", "Biology" %>
      </div>
      <div>
        <%= check_box_tag "subjects[chemistry]" %>
        <%= label_tag "subjects[chemistry]", "Chemistry" %>
      </div>
      <div>
        <%= check_box_tag "subjects[physics]" %>
        <%= label_tag "subjects[physics]", "Physics" %>
      </div>
      <div>
        <%= check_box_tag "subjects[earth-science]" %>
        <%= label_tag "subjects[earth-science]", "Earth Science" %>
      </div>
      <div>
        <%= check_box_tag "subjects[high-social-studies]" %>
        <%= label_tag "subjects[high-social-studies]", "Social Studies / History" %>
      </div>
      <div>
        <%= check_box_tag "subjects[government]" %>
        <%= label_tag "subjects[government]", "Government" %>
      </div>
      <div>
        <%= check_box_tag "subjects[economics]" %>
        <%= label_tag "subjects[economics]", "Economics" %>
      </div>
      <div>
        <%= check_box_tag "subjects[high-spanish]" %>
        <%= label_tag "subjects[high-spanish]", "Spanish" %>
      </div>
      <div>
        <%= check_box_tag "subjects[high-french]" %>
        <%= label_tag "subjects[high-french]", "French" %>
      </div>
    </div>
  </div>
</div>