<%= content_for :header_title do %>
  Tutor <em>Application</em>
<% end %>

<%= content_for :header_right_module do %>
  <%= render partial: "personal_informations/preview" %>
<% end %>

<%= content_for :main_content do %>
  <%= form_with model: @application, url: user_tutor_application_path, class: "modular", id: "application" do |form| %>
    <div class="module">
      <div class="field">
        <%= form.label :educational_history, "What is your educational and work history? How will this make you an effective tutor?" %>
        <% @application.errors.full_messages_for(:educational_history).each do |message| %>
          <span class="alert"><%= message %></span>
        <% end %>
        <%= form.text_area :educational_history %>
      </div>
    </div>
    <div class="module">
      <div class="field">
        <%= form.label :tutoring_skills, "What relevant skills do you have to this position? Why will you be a good tutor?" %>
        <% @application.errors.full_messages_for(:tutoring_skills).each do |message| %>
          <span class="alert"><%= message %></span>
        <% end %>
        <%= form.text_area :tutoring_skills %>
      </div>
    </div>
    <div class="module" style="grid-column: 1 / 3;">
      <div class="field">
        <%= form.label :resume, "You may paste your resume here (optional). Do not worry too much about formatting." %>
        <% @application.errors.full_messages_for(:resume).each do |message| %>
          <span class="alert"><%= message %></span>
        <% end %>
        <%= form.text_area :resume %>
      </div>
    </div>
    <%= render partial: "subject_selector" %>
    <%= form.submit "Submit Application", class: "button", style: "align-self: center; justify-self: center; width: 65%; grid-column: 1 / 3;" %>
  <% end %>
<% end %>

<%= content_for :additional_content do %>
  <%= render "shared/login_items" %>
<% end %>