<%= content_for :header_title do %>
  Tutor <em>Application</em>
<% end %>

<%= content_for :header_right_module do %>
  <%= render partial: "personal_informations/preview" %>
<% end %>

<%= content_for :main_content do %>
  <div class="modular">
    <% if @application_present %>
      <div class="module">
        <h2>Thanks for submitting your application!</h2>
        We will review your application and get back to you soon. Please make sure
        you completely fill out your <%= link_to "personal information", edit_user_personal_information_path %> if you haven't already done so.
      </div>
    <% end %>
    <div class="module">
      <% unless @application_present %>
        <h2>New Tutor Application</h2>
        <p>Begin your application to become a tutor with Brain Gains Tutoring, Idaho!</p>
        <p>
          There is currently no save functionality for an unfinished application, so make
          sure you have about 20 minutes to complete the application before you begin!
        </p>
        <%= button_to "Begin Application", new_user_tutor_application_path, method: :get, type: :button %>
      <% else %>
        <h2>Edit Tutor Application</h2>
        <p>Edit your completed application to become a tutor with Brain Gains Tutoring, Idaho.</p>
        <%= button_to "Edit Application", edit_user_tutor_application_path, method: :get, type: :button %>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :additional_content do %>
  <%= render "shared/login_items" %>
<% end %>