<h2>Want more Information?</h2>
<%= form_with model: @lead do |form| %>
  <legend><b>Contact us</b> any time or <b>fill out the form</b> below for more information about how you can help your child <em>achieve their dreams</em>!</legend>
  <% if flash.key? :error %>
    <div class="alert" style="font-size: 1rem;"><%= flash[:error] %></div>
  <% elsif flash.key? :success %>
    <div class="success"><%= flash[:success] %></div>
  <% end %>
  <div class="row">
    <%= form.label :name %>
    <% @lead.errors.full_messages_for(:name).each do |message| %>
      <span class="alert"><%= message %></span>
    <% end %>
    <%= form.text_field :name %>
  </div>
  <div class="row">
    <%= form.label :phone_number, "Phone Number" %>
    <% @lead.errors.full_messages_for(:phone_number).each do |message| %>
      <span class="alert"><%= message %></span>
    <% end %>
    <%= form.telephone_field :phone_number %>
  </div>
  <div class="row">
    <%= form.label :email %>
    <%= form.email_field :email %>
    <% @lead.errors.full_messages_for(:emial).each do |message| %>
      <span class="alert"><%= message %></span>
    <% end %>
  </div>
  <%= form.submit "Submit", class: "brown-button button row" %>
<% end %>