<% content_for :stylesheets do %>
  .access {
    text-decoration: none;
    color: var(--blue);
  }

  @media only screen and (max-width: 1250px) {
    .access {
      margin: 0 0 0 1rem;
    }
  }
<% end %>

<%= link_to "Access Student / Tutor Portal", user_path, class: "access" %>

<%= content_for :header_title do %>
  <em>About</em> Brain Gains Tutoring Idaho
<% end %>

<%= content_for :header_right_module do %>
  <%= render partial: "pages/contact_module" %>
<% end %>

<% content_for :main_content do %>
  <p>
    Welcome to <em>Brain Gains Tutoring, Idaho</em>, where we believe in the transformative power of education.
    Nestled in the picturesque communities of Idaho Falls, Rexburg, Rigby, and their surrounding areas, our
    tutoring agency is dedicated to providing highly personalized and affordable in-home tutoring services.
    We understand that every student is unique, and that's why our team of passionate and effective tutors is
    committed to tailoring their approach to meet the individual needs of each learner.
  </p>
  <p>
    We recognize the profound impact that one-on-one tutoring can have on academic success. Our private in-home model
    is designed to create a comfortable and focused learning environment, allowing students to thrive academically at their own pace.
    The familiarity of the home setting eliminates distractions and fosters a sense of confidence and security, contributing
    to enhanced learning experiences.
  </p>
  <p>
    We take pride in offering a variety of subjects and academic support, ensuring that students of all ages and levels can benefit from our expertise.
    Whether it's mastering a challenging math concept, refining writing skills, or preparing for standardized tests, our tutors are here to guide and inspire.
    Our commitment to affordability means that quality education is within reach for all families in the Idaho Falls, Rexburg, and Rigby communities.
  </p>
  <p>
    Discover the difference that personalized, in-home tutoring can make in your child's academic journey. Consider Brain Gains Tutoring, Idaho, as we embark on a
    mission to empower students, foster a love for learning, and build the foundation for lifelong success. Together, we'll help you and your 
    family unlock the full potential that education has to offer.
  </p>
<% end %>

<% content_for :additional_content do %>
  <%= render partial: "leads/form" %>
<% end %>