<% content_for :stylesheets do %>
  .access {
    text-decoration: none;
    color: var(--blue);
  }

  @media only screen and (max-width: 1250px) {
    .access {
      margin: 0 0 0 1rem;
    }
  }
<% end %>

<%= link_to "Access Student / Tutor Portal", user_path, class: "access" %>

<%= content_for :header_title do %>
  <em>How</em> Brain Gains Tutoring Idaho <em>Works</em>
<% end %>

<%= content_for :header_right_module do %>
  <%= render partial: "pages/contact_module" %>
<% end %>

<% content_for :main_content do %>
  <p>
    Embarking on the journey to academic success with <em>Brain Gains Tutoring, Idaho</em>, is a straightforward
    and personalized process designed to meet the unique needs of each student. Our commitment to
    excellence begins the moment you express interest in our services
  </p>
  <ol>
    <li>
      <em>Needs Assessment</em>: When a student expresses the desire for tutoring, a dedicated representative
      from our team engages in a comprehensive needs assessment. We believe that understanding each student's
      academic strengths, challenges, and goals is the key to providing effective and targeted support.
    </li>
    <li>
      <em>Tutor Matching</em>: Based on the gathered information, we meticulously match the student with one
      of our experienced and passionate tutors. Our team comprises individuals with diverse expertise, ensuring
      a perfect alignment with the student's specific academic requirements. This tailored approach sets the
      stage for a meaningful and productive learning experience.
    </li>
    <li>
      <em>Initial Sessions</em>: The learning journey kicks off with one or more initial sessions, where
      the student and tutor establish a connection and begin addressing academic challenges. We encourage open
      communication and collaboration to ensure that the tutoring relationship is conducive to effective learning.
    </li>
    <li>
      <em>Feedback Loop</em>: We value feedback from both students and tutors. If, after one or more sessions,
      a student feels that the match isn't optimal, we take swift action. Our commitment to your success means
      we'll reevaluate and, if necessary, rematch the student with another qualified tutor from our team. We understand
      that the right fit is crucial for a positive and productive learning experience.
    </li>
    <li>
      <em>Continuous Support</em>: We remain dedicated to the ongoing success of our students. As academic needs
      evolve, we adapt our approach to ensure continued growth and achievement. Our flexible and responsive
      model is designed to provide unwavering support throughout the learning journey.
    </li>
  </ol>
  <p>
    Experience the seamless and effective process of personalized tutoring with Brain Gains Tutoring,
    Idaho. Together, let's unlock the doors to academic excellence and empower students to reach their full potential.
  </p>
<% end %>

<% content_for :additional_content do %>
  <%= render partial: "leads/form" %>
<% end %>