<%= content_for :header_title do %>
  Manage <em>Payments and Subscription</em>
<% end %>

<%= content_for :header_right_module do %>
<% end %>

<%= content_for :main_content do %>
  <div class="modular">
    <div class="module">
      <h2>Test</h2>
    </div>
  </div>
<% end %>

<%= content_for :additional_content do %>
  <%= render "shared/login_items" %>
<% end %>