<%= content_for :header_title do %>
  Manage <em>Payments and Subscription</em>
<% end %>

<%= content_for :header_right_module do %>
<% end %>

<%= content_for :main_content do %>
  <div class="modular">
    <% @prices.each do |price| %>
      <div class="module">
        <%= price[:unit_amount] %> cents
        per <%= price[:recurring][:interval] %>
        <%= button_to "Purchase", stripe_checkout_user_path(price_id: price.id), data: {turbo: false} %>
        <%# <form action="/create-portal-session" method="POST">
          <input type="hidden" id="session-id" name="session_id" value="" />
          <button id="checkout-and-portal-button" type="submit">Manage your billing information</button>
        </form> %>
      </div>
    <% end %>
    <div class="module">
      <h2>Stripe Subscription Portal</h2>
      <p>
        Use this link to access the Stripe subscription portal
        to manage your payment plan and billing information.
      </p>
      <p>You can also use this link to cancel your subscription.</p>
      <%= button_to "Billing Portal", stripe_billing_portal_user_path, data: {turbo: false} %>
    </div>
  </div>
<% end %>

<%= content_for :additional_content do %>
  <%= render "shared/login_items" %>
<% end %>