<%= content_for :header_title do %>
  Manage <em>Payments and Subscription</em>
<% end %>

<%= content_for :header_right_module do %>
<% end %>

<%= content_for :main_content do %>
  <div class="modular">
    <% @prices.each do |price| %>
      <div class="module">
        <%= price[:unit_amount] %> cents
        per <%= price[:recurring][:interval] %>
      </div>
    <% end %>
  </div>
<% end %>

<%= content_for :additional_content do %>
  <%= render "shared/login_items" %>
<% end %>